html {
    -webkit-font-smoothing: antialiased;
  }
  
  body, h3, h4, h5, h6 {
    font-size: 16px;
    margin: 0;
    line-height: 24px;
  }
  
  body {
    margin: 0;
    background-color: rgb(241,243,246);
  }
  
  a {
    color: #ff4081;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .m-b-15 {
    margin-bottom: 15px
  }
  